<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="TN_Suite" parallel="classes" verbose="1">
    <test name="Registration on Firefox">
        <parameter name="browserName" value="firefox"></parameter>
        <classes>
            <class name="Framework.tests.LoginPageTest"/>
        </classes>
    </test>

</suite>